html,
body {
  font-family: monospace;
  background-color: #121212;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

#chart {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

line {
  stroke-width: 4px;
  stroke-opacity: 1;
}

line.positive {
  stroke: #1b4fa3;
  stroke-width: 5px;
  stroke-opacity: 0.8;
}

line.negative {
  stroke: #991616;
  stroke-width: 5px;
  stroke-opacity: 0.8;
}

line.neutral {
  stroke: #fafafa;
}

text.positive {
  fill: #1b4fa3;
  font-weight: 600;
}

text.negative {
  fill: #991616;
  font-weight: 600;
}

text.neutral {
  fill: #121212;
  font-weight: 1000;
  font-size: large;
}

text.revolutions {
  fill: #fafafa;
  font-weight: 600;
}

.label {
  font-weight: 600;
}

circle.positive {
  fill: #1b4fa3;
}

circle.negative {
  fill: #991616;
}

circle.neutral {
  fill: #fafafa;
}

text.timeline {
  font-size: 12px;
  text-anchor: start;
  fill: #fafafa;
}

rect.timeline-box {
  fill: #fafafa;
  stroke: #fafafa;
  stroke-width: 1px;
}

rect.title-box {
  fill: #121212;
  stroke: #fafafa;
  stroke-width: 4px;
}

.us-data {
  fill: #800080;
}

text.us-data {
  fill: #800080;
  font-weight: 600;
}

line.us-data {
  stroke: #800080;
  stroke-width: 5px;
  stroke-opacity: 0.8;
}

.literacy-labels {
  font-size: 14px;
  font-weight: bold;
}

.literacy-points {
  fill: #666;
}

.literacy-points.positive {
  fill: #1a9850;
}

.literacy-points.negative {
  fill: #d73027;
}

.year-labels {
  font-size: 12px;
  fill: #666;
}

.literacy-lines {
  stroke-dasharray: 4;
}

#country-selector {
  position: absolute;
  top: 200px;
  left: 400px;
  padding: 10px;
  background: #121212;
  border-radius: 5px;
  z-index: 1000;
  border: 2px solid #ffffff;
}

.country-selector {
  background: #fafafa;
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.country-selector label {
  display: block;
  color: #fafafa;
  margin: 5px;
  cursor: pointer;
  position: absolute;
}
